.path-container{
    color: white;
    float: left;
    height: 240px;
    width: 20%;
    margin: 0 auto;
    background-color: rgba(35, 47, 62, .85);
    border-radius: 10px;
    padding-top: 100px;
    font-weight: bold;
}
