.selection{
  border: .5px solid rgba(35, 47, 62, .85);
  border-radius: 10px;
}

.ui.grid>.row{
  padding: 0;
}

.selection-inner{
  border-left: .25px solid rgba(35, 47, 62, .85);
  border-right: .25px solid rgba(35, 47, 62, .85);
}

.selection-outer{
  border-bottom: .25px solid rgba(35, 47, 62, .85);
}

.selection-padding{
  padding: 10px;
}

.multiple-select{
  font-weight: bold;
}

.ui.button.next{
  margin: 50px .25em 0 0;
}
